# Environment Variables
SESSION_SECRET=my-super-secret-key-12345 #this can be whatever
PORT = 3000
RDS_PORT = 5432
RDS_HOSTNAME = "localhost"
RDS_USERNAME = "postgres"
RDS_PASSWORD = "postgres"
RDS_DB_NAME = "foodisus"

# Environment (development or production)
NODE_ENV=development

# AWS S3 Configuration (only used in production)
# Replace these with your actual AWS credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your-bucket-name
